.header {
  width: 100%;
  background-color: rgb(73, 73, 232);
  padding: 60px 0;

  &__nav {
    margin: 0 auto;
    width: 500px;
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 25px;

    &:hover {
      cursor: pointer;
      background-color: white;
      color: rgb(73, 73, 232);
    }
  }
}
